<footer class="footer mt-auto py-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-3 col-sm-6 mb-3 text-center">
                <h5 class="text-uppercase fw-bold">Site Bilgileri</h5>
                <ul class="list-unstyled">
                    <li class="mt-2"><a href="{% url 'hakkimizda' %}">Hakkımızda</a></li>
                    <li class="mt-2"><a href="{% url 'iletisim' %}">İletişim</a></li>
                    <li class="mt-2"><a href="{% url 'gizlilik-politikasi' %}">Gizlilik Politikası</a></li>
                    <li class="mt-2"><a href="{% url 'cerez' %}">Çerez Politikası</a></li>
                    <li class="mt-2"><a href="{% url 'kullanim-sartlari' %}">Kullanım Şartları</a></li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6 mb-3 text-center">
                <h5 class="text-uppercase fw-bold">Kategoriler</h5>
                <ul class="list-unstyled ">
                    <li class="mt-2"><a href="{% url 'erkek' %}">Erkek İsimleri</a></li>
                    <li class="mt-2"><a href="{% url 'kiz' %}">Kız İsimleri</a></li>
                    <li class="mt-2"><a href="{% url 'unisex' %}">Unisex İsimler</a></li>
                    <li class="mt-2"><a href="{% url 'kadin' %}">Kadin</a></li>
                    <li class="mt-2"><a href="{% url 'saglik' %}">Sağlık</a></li>
                    <li class="mt-2"><a href="{% url 'cocuk' %}">Çocuk</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 mb-3 text-center">
                <h5 class="text-uppercase fw-bold">Sosyal</h5>
                <ul class="list-unstyled">
                    <li class="mt-2"><a href="https://www.facebook.com/guzelbebekisimleri" target="_blank">Facebook</a></li>
                    <li class="mt-2"><a href="https://www.x.com/isimsec" target="_blank">Twitter / X</a></li>
                    <li class="mt-2"><a href="https://www.pinterest.com/erkekbebekisimleri/" target="_blank">Pinteres</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 mb-3 text-center">
                <h5 class="text-uppercase fw-bold">Diğer Sitelerimiz</h5>
                <ul class="list-unstyled">
                    <li class="mt-2"><a href="https://www.thestoryunfolds.com/" target="_blank">Bedtime Story</a></li>
                    <li class="mt-2"><a href="https://www.cocukmasallarioku.com/" target="_blank">Masal Oku</a></li>
                    <li class="mt-2"><a href="https://masaloku.com.tr/" target="_blank">Masal Oku</a></li>
                </ul>
            </div>


        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p class="m-0" style="color: inherit">&copy; 2024 Erkek Bebek İsimleri — Tüm hakları saklıdır. Melih ÖZKAŞ projesidir.</p>
            </div>
        </div>
    </div>
</footer>