<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-3 text-center">
                <h3 class="text-uppercase">Site Bilgileri</h3>
                <ul class="list-unstyled">
                    <li class="mt-3"><a href="{% url 'hakkimizda' %}">Hakkımızda</a></li>
                    <li class="mt-3"><a href="{% url 'iletisim' %}">İletişim</a></li>
                    <li class="mt-3"><a href="{% url 'gizlilik-politikasi' %}">Gizlilik Politikası</a></li>
                    <li class="mt-3"><a href="{% url 'cerez' %}">Çerez Politikası</a></li>
                    <li class="mt-3"><a href="{% url 'kullanim-sartlari' %}">Kullanım Şartları</a></li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6 mb-3 text-center">
                <h3 class="text-uppercase">Kategoriler</h3>
                <ul class="list-unstyled ">
                    <li class="mt-3"><a href="{% url 'erkek' %}">Erkek İsimleri</a></li>
                    <li class="mt-3"><a href="{% url 'kiz' %}">Kız İsimleri</a></li>
                    <li class="mt-3"><a href="{% url 'unisex' %}">Unisex İsimler</a></li>
                    <li class="mt-3"><a href="{% url 'kadin' %}">Kadin</a></li>
                    <li class="mt-3"><a href="{% url 'saglik' %}">Sağlık</a></li>
                    <li class="mt-3"><a href="{% url 'cocuk' %}">Çocuk</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 mb-3 text-center">
                <h3 class="text-uppercase">Sosyal</h3>
                <ul class="list-unstyled">
                    <li class="mt-3"><a href="https://www.facebook.com/guzelbebekisimleri" target="_blank">Facebook</a></li>
                    <li class="mt-3"><a href="x.com/isimsec" target="_blank">Twitter / X</a></li>
                    <li class="mt-3"><a href="#" target="_blank">Pinteres</a></li>
                    <li class="mt-3"><a href="#" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 mb-3 text-center">
                <h3 class="text-uppercase">Diğer Sitelerimiz</h3>
                <ul class="list-unstyled">
                    <li class="mt-3"><a href="https://www.cocukmasallarioku.com/" target="_blank">Masal Oku</a></li>
                </ul>
            </div>


        </div>
        <div class="row">
            <div class="col text-center">
                <p class="text" style="color: darkorange">&copy; 2024 Erkek Bebek İsimleri Tüm hakları saklıdır. Bu bir
                    Melih ÖZKAŞ projesidir.</p>
            </div>
        </div>
    </div>
</footer>