<div class="col-lg-3">
    <div class="sticky-top" style="top: 20px;">
        <div class="mb-4">
            <h4>Kategoriler</h4>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'erkek' %}">Erkek İsimleri</a> <strong><i class="bi bi-gender-male" style="color: blue; font-size: 20px;"></i></strong></li>
                <li class="list-group-item"><a href="{% url 'kiz' %}">Kız İsimleri</a> <strong><i class="bi bi-gender-female" style="color: red; font-size: 20px;"></i></strong></li>
                <li class="list-group-item"><a href="{% url 'unisex' %}">Unisex İsimler</a> <strong><i class="bi bi-gender-ambiguous" style="color: green; font-size: 20px;"></i></strong></li>
                <li class="list-group-item"><a href="{% url 'kadin' %}">Kadın</a> <strong><i class="bi bi-hearts" style="color: red;font-size: 20px;"></i></strong></li>
                <li class="list-group-item"><a href="{% url 'saglik' %}">Sağlık</a> <strong><i class="bi bi-heart-pulse" style="color: green; font-size: 20px;"></i></strong></li>
                <li class="list-group-item"><a href="{% url 'cocuk' %}">Çocuk</a> <strong><i class="bi bi-balloon-fill" style="color: blue; font-size: 20px;"></i></strong></li>
            </ul>
        </div>
        <!--<div class="mb-4">
            <h4>En Son Eklenenler</h4>
            <ul class="list-group">
                <li class="list-group-item"><a href="#kadın">Kadın</a></li>
                <li class="list-group-item"><a href="#sağlık">Sağlık</a></li>
                <li class="list-group-item"><a href="#çocuk-gelişimi">Çocuk Gelişimi</a></li>
                <li class="list-group-item"><a href="#erkek-bebek-isimleri">Erkek Bebek İsimleri</a></li>
                <li class="list-group-item"><a href="#kız-bebek-isimleri">Kız Bebek İsimleri</a></li>
            </ul>
        </div> -->
    </div>
</div>