<!DOCTYPE html>
<html lang="tr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Tag Başlangıç -->
    {% block MetaTag %}
    {% endblock MetaTag %}
    <!-- Meta Tag Bitiş -->


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <!-- Extra CSS -->
    {% block extra_css %}
    {% endblock extra_css %}



    <!--  Open Graph / Facebook Tag Başlangıç -->
    {% block OgTag %}
    {% endblock OgTag %}
    <!--  Open Graph / Facebook Tag Bitiş -->

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Erkek isimleri, Kız isimleri ve anlamları">
    <meta property="og:locale" content="tr_TR">

    <!--  tt Tag Başlangıç -->
    {% block ttTag %}
    {% endblock ttTag %}
    <!--  tt Tag Bitiş -->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@isimsec">
    <meta name="twitter:creator" content="@isimsec">


    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/favicons/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Robots -->
    <meta name="robots" content="index, follow">

    <!-- Google ADS -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7065951693101615"
            crossorigin="anonymous"></script>
    <!-- Google ADS -->
    <meta name="google-adsense-account" content="ca-pub-7065951693101615">
    <!-- yandex doğrulama Başlangıç -->
    <meta name="yandex-verification" content="11fd06caf725471c"/>

    <!-- Schema Article Başlangıç -->
    {% block SchemaArticle %}
    {% endblock SchemaArticle %}
    <!-- Schema Article Bitiş -->


    <!-- Schema BlogKategori itemList Başlangıç -->
    {% block SchemaitemList %}
    {% endblock SchemaitemList %}
    <!-- Schema BlogKategori  itemList Bitiş -->

    <!-- Schema FAQ Başlangıç -->
    {% block SchemaFaq %}
    {% endblock SchemaFaq %}
    <!-- Schema FAQ SchemaFaq -->

    <!-- Schema BreadcrumbList Başlangıç -->
    {% block SchemaBreadcrumbList %}
    {% endblock SchemaBreadcrumbList %}
    <!-- Schema BreadcrumbList Bitiş -->


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% include "parcalar/navbar.html" %}
<!-- İçerik buraya gelecek -->

{% block icerik %}
{% endblock icerik %}

{% include "parcalar/footer.html" %}
{% block extra_js %}
{% endblock extra_js %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script defer src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
