{% extends 'base.html' %}
{% load static %}


<!-- Meta Tag Başlangıç -->
{% block MetaTag %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Erkek Bebek isimleri">
    <!-- Canonical Link -->
    <link rel="canonical" href="{{ urlsi }}">
{% endblock MetaTag %}
<!-- Meta Tag Bitiş -->

<!--  Open Graph / Facebook Tag Başlangıç -->
{% block OgTag %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% if Post_Kategorisi.resim1 %}<meta property="og:image" content="{{ Post_Kategorisi.resim1.url }}">{% endif %}
    <meta property="og:image:width" content="800"/>
    <meta property="og:image:height" content="400"/>
{% endblock OgTag %}
<!--  Open Graph / Facebook Tag Bitiş -->

<!--  tt Tag Başlangıç -->
{% block ttTag %}
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:url" content="https://x.com/erkekbebekisimleri">
    {% if Post_Kategorisi.resim1 %}<meta name="twitter:image" content="{{ Post_Kategorisi.resim1.url }}">{% endif %}
{% endblock ttTag %}
<!--  tt Tag Bitiş -->

<!-- Schema itemList Başlangıç -->
{% block SchemaitemList %}

    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": "{{ Post_Kategorisi.h1 }}",
  "description": "{{ Post_Kategorisi.description }}",
  "keywords": "{{ Post_Kategorisi.keywords }}",
  "url": "{{ request.build_absolute_uri }}",
  "mainEntity": {
    "@type": "ItemList",
    "itemListElement": [
      {% for post in TumPost %}
      {
        "@type": "ListItem",
        "position": {{ forloop.counter }},
        "url": "https://www.erkekbebekisimleri.net{% url 'post-getir' post.slug %}",
        "name": "{{ post.title }}",
        "description": "{{ post.description }}",
        "keywords": "{{ post.keywords }}",
        "datePublished": "{{ post.olusturma_tarihi.isoformat }}",
        "dateModified": "{{ post.guncelleme_tarihi.isoformat }}",
        "author": {
          "@type": "Person",
          "name": "{{ post.yazar }}"
        },
        "image": "{% if post.resim %}{{ post.resim.url }}{% else %}https://teknolojibucket.s3.amazonaws.com/static/assets/logo/logo.webp{% endif %}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]
  }
}
</script>

{% endblock SchemaitemList %}
<!-- Schema itemList Bitiş -->

<!-- Schema BreadcrumbList Başlangıç -->
{% block SchemaBreadcrumbList %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Erkek isimleri, Kadın isimleri ve unisex isimler ve anlamları",
      "item": "https://www.erkekbebekisimleri.net/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ Post_Kategorisi.h1 }}",
      "item": "https://www.erkekbebekisimleri.net/{{ Post_Kategorisi.slug }}/"
    }
  ]

}
</script>
{% endblock SchemaBreadcrumbList %}
<!-- Schema BreadcrumbList Bitiş -->



{% block extra_css %}
    <style>
        .category-content .card img { height: 200px; object-fit: cover; }
    </style>
{% endblock %}


{% block icerik %}
    <div class="container my-5">
        <div class="row">
            <!-- Main Content -->
            <div class="col-lg-9">
                <section class="category-section" id="kadın">
                    <h1>{{ H1 }}</h1>
                    <div class="row category-content mt-5">
                        {% for post in TumPost %}
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    {% if post.resim %}
                                                                            <a href="{% url 'post-getir' post_slug=post.slug %}">
                                        <img src="{{ post.resim.url }}" class="card-img-top" alt="{{ post.title }}"
                                             height="960" width="640">
                                    {% endif %}

                                    </a>
                                    <div class="card-body">
                                        <h2 class="card-title" style="font-size: 16px;"><a
                                                href="{% url 'post-getir' post_slug=post.slug %}">{{ post.h1 }}</a>
                                        </h2>
                                        <p class="card-text">{{ post.kisaanlam|truncatechars:31|safe }}</p>
                                        <a href="{% url 'post-getir' post_slug=post.slug %}" class="btn btn-warning">Devamını
                                            Oku</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </section>

                {% if TumPost.paginator.num_pages > 1 %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-lg justify-content-center flex-wrap">
                            {% if TumPost.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?sayfa={{ TumPost.previous_page_number }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span>Önceki</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
        <span class="page-link">
          <span aria-hidden="true">&laquo;</span>
          <span>Önceki</span>
        </span>
                                </li>
                            {% endif %}

                            {% for i in TumPost.paginator.page_range %}
                                {% if TumPost.number == i %}
                                    <li class="page-item active d-none d-sm-inline" aria-current="page">
                                        <span class="page-link">{{ i }}</span>
                                    </li>
                                {% elif i > TumPost.number|add:"-5" and i < TumPost.number|add:"5" %}
                                    <li class="page-item d-none d-sm-inline">
                                        <a class="page-link" href="?sayfa={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if TumPost.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?sayfa={{ TumPost.next_page_number }}" aria-label="Next">
                                        <span>Sonraki</span>
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
        <span class="page-link">
          <span>Sonraki</span>
          <span aria-hidden="true">&raquo;</span>
        </span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}

            </div>


            <!-- Sidebar -->
            {% include "parcalar/sidebar.html" %}
        </div>
    </div>


{% endblock %}


